@charset "UTF-8";

html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(to bottom, #186AC9, rgba(24, 108, 201, 0.6) 60%, #ffe700);

}

header {
    color: white;
}

input {
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 250px;
    height: 30px;
}

.red {
    color: white;
    background: red;
    border: none;
    width: 50%;
    font-size: 20px;
}

.right {
    text-align: right;
    margin-bottom: 30px;
    margin-right: 24px;
}

.top {
    margin-bottom: 25px;
}

.home {
    max-inline-size: max-content;
    margin-inline: auto;
}

.text {
    color: white;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    background-color: teal;
    border-radius: 10px;
    width: 300px;
    height: 330px;
}

.text-center1 {
    background-color: teal;
    border-radius: 10px;
    width: 300px;
    height: 470px;
    margin-top: 130px;

}

.text-center2 {
    background-color: teal;
    border-radius: 10px;
    width: 300px;
    height: 250px;

}

.text1 {
    color: white;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.under {
    text-decoration: underline;
    text-align: center;
}

a {
    color: white;
}

.center {
    text-align: center;
    padding: 100px;
}

.center2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
}

.center3 {
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}

.center4 {
    text-align: center;
}

.center5 {
    text-align: center;
}

.center6 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 50px;
}

.center7 {
    text-align: center;
    padding-bottom: 30px;
}

.atlas {
    width: 150px;
}

.atlas2 {
    font-size: 35px;
    font-family: Tahoma;
    font-weight: bold;
    margin-bottom: 30px;
}
