@charset "utf-8";

html {}

body {}

/* header */
header {
    padding: 10px;
    background: #186AC9;
}

h1 {
    padding: 5px;
}

.top {
    width: 40%;
}

.side {
    display: flex;
    justify-content: space-around;

}

.btn1 {
    color: white;
}

.hr1 {
    border-top: 1px solid #000;
}

li {
    list-style-type: none;
}

.btn {
    background: #186AC9;
    padding: 5px;
    border-radius: 6px;
    display: inline-flex;
}

.btn-u {
    background: #186AC9;
    padding: 10px;
    border-radius: 6px;
    display: inline-flex;
}

/* main content */
#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.side_user {
    display: flex;
    justify-content: center;
}

#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    height: 100%;
    flex: 0 0 80%;
    border-right: 1px solid #727272;
}

.container1 {
    display: flex;
    align-items: center;
}

.menu-btn .tag {
    text-decoration: none;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.Trash {
    width: 30px;
    height: auto;
    cursor: pointer;
    transition: .3s;
}

.Trash:hover {
    background-color: #fff;
}

.Update {
    width: 40px;
    height: 40px;
}

.new-contents {
    display: flex;
    justify-content: space-between;
}

.follow_icon {
    display: flex;
}

.follower_icon {
    display: flex;
}

.side1 {
    display: flex;
}

.plain {
    background-color: #eee;
    border: none;
    height: 3px;
}

.side2 {
    text-align: right;
}

.side3 {
    display: flex;
}

.confirm {
    line-height: 30px;
}

.form-control {
    border: none;
    width: 250px;
    font-size: medium;
    padding-left: 20px;
    padding-top: 30px;
}

.icon1 {
    padding-top: 30px;
    padding-left: 80px;
}

/*アコーディオンメニュー*/

.accordion {
    padding: 10px;
    font-weight: bold;
}

.accordion-contents {
    padding: 10px;
    display: none;
}


/* 矢印 */
.accordion-title {
    position: relative;
}

.accordion-title::after {
    content: "";
    right: 40px;
    position: absolute;
    top: 3%;
    width: 8px;
    height: 8px;
    border-top: solid 2px #fff;
    transform: rotate(135deg);
    /*最初の矢印は下向き*/
    border-right: solid 2px #fff;
}

.accordion-title.open::after {
    top: 45%;
    transform: rotate(-45deg);
    /*矢印を上向きに変える*/
}

/*常時開いたままにしないように設定*/
.nav-open ul {
    display: none;
}

.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
}

.delete_btn {
    position: relative;
}

.delete_btn img {
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 5px;

}

.delete_btn:hover img:nth-of-type(2) {
    opacity: 0;
}


.post_btn {
    text-align: right;
    margin-bottom: 20px;
    margin-right: 100px;
}

.post_btn img {
    border-radius: 3px;
}


/* 検索ページ */

.btn-danger {
    background: red;
    border: none;
}

.btn-info {
    background: #00BFFF;
    color: white;
    border: none;
}

.btn-text {
    color: white;
}

.search {
    display: flex;
    justify-content: space-evenly;
}

.search1 {
    display: flex;
}

.user {
    width: 40px;
    height: 40px;
}

/* 他のユーザープロフィール */

.btn-other {
    background: red;
    border: none;
    margin-bottom: 10px;
}

.un_follow_btn {
    text-align: right;
    padding: 10px;
}

.info1 {
    text-align: right;
    padding: 10px;
}

.block {
    display: flex;
    flex-direction: column;
}
